<?php
$enableDebug = false;
$maximumZoomLevel = 19;
# tile generation will be skiped below this zoom for performance reason
$minimumZoomLevel = 0;

$webRootDir = $_SERVER["DOCUMENT_ROOT"];
$tileCacheDir = "$webRootDir/cache";
$scriptDir = "$webRootDir";

$dataRoot = "/data/dem/";
$demDataFiles = array(
        4 => "$dataRoot/low-zoom-4.tif",
        7 => "$dataRoot/low-zoom-7.tif",
        $maximumZoomLevel => "$dataRoot/full.vrt"
    );

// value used for "Expires" HTTP header
$tileCacheExpiration = 3600*24*7; // seconds

// limit concurency of memory expensive python generator
$maxConcurency = 16;
$spinLockInterval = 5; // seconds

